Package: kos-zlib-dev
Version: 0.1.0
Architecture: amd64
Section: devel
Depends: kos-newlib
Pre-Depends: kos32-gcc
Replaces: kos-newlib
Priority: optional
Homepage: https://github.com/Egor00f/newlib
Origin: http://git.kolibrios.org/KolibriOS/kolibrios
Maintainer: Egor00f <velikiydolbayeb@gmail.com>
Installed-Size: 928
Description: zlib for kolibrios
 include files and binary
